body {
    background-image: url('https://imgur.com/aZl0kmZ.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px;
}

#survey-form {
    background: rgba(75, 0, 128, 0.318);
    padding: 20px;
    /* text-align: center; */
    margin: auto;
    height: auto;
    width: 60%;
}

#survey-form label,
#survey-form input,
#survey-form textarea,
#survey-form select {
    color: bisque;
    font-family: 'Nunito', sans-serif;
}

h1, p {
    text-shadow: 2px 2px 5px deeppink;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: bisque;
}

